useDynLib(perfectphyloR, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("stats", "cor","sd")
importFrom("graphics", "plot")
exportPattern("^[[:alpha:]]+")
export(HHGtest)
export(MantelTest)
export(RVtest)
export(RandIndexTest)
export(createHapMat)
export(dCorTest)
export(plotDend)
export(rdistMatrix)
export(reconstructPPregion)
export(reconstructPP)
export(testAssoDist)
export(testDendAssoRI)
